@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F4FC;
    font-family: 'Roboto';
    color: #6B708D;
}

h1 {
    font-size: 60px;
    color: #292E47;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    color: #292E47;
    font-weight: 700;
    line-height: 47px;
}

h4 {
    font-size: 24px;
    color: #1A1A1A;
    font-weight: bold;
}

.section {
    padding: 0 20px;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
}

.nav-bar {
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a {
    height: 18px;
}

.nav-bar ul {
    display: flex;
    font-size: 17px;
    list-style-type: none;

}

.nav-bar ul li {
    margin: 0 30px;
}

.nav-bar ul a {
    text-decoration: none;
    color: #6B708D; 
}

/* falta hoover en azul 072AC8 */

.contact-us-button {
    width: 150px;
    height: 52px;
    background-color: #072AC8;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 130%;
    font-weight: 500;
    border: none;
}

.work-button {
    width: 100px;
    height: 22px;
    color: #6B708D;
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.hero {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.hero-explanation {
    width: 50%;
    padding: 110px 20px;
}

.hero-explanation p {
    margin: 30px 0 40px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.hero-card {
    width: 50%;
    background-image: url("./img/hero-section/hero-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-card img {
    width: 190px;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.second-card {
    align-self: flex-end;
}

.companies {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    margin-bottom: 200px;
}

.companies img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.projects {
    display: flex;
    justify-content: space-between;
}

.projects-cards {
    background-color: #FFFFFF;
    height: 444px;
    width: 340px;
    margin-top: 23px;
}

.projects-cards img {
    width: 340px;
    height: 240px;
}

.cards-text {
    padding-left: 30px;
}

.cards-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #292E47;
    margin-top: 30px;
}

.projects-paragraph {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6B708D;
    margin: 10px 0 54px 0;
}

.cards-link {
    text-decoration: none;
}

/* hoover y que no aparezca lila cuando le das*/

.clients {
    background-image: url(./img/testimonial-section/orbit.png);
    background-color: #292E47;
    margin-top: 200px;
    margin-bottom: 200px;
}


/* falta sección clients*/


.services {
    display: flex;
    justify-content: space-between; 
}

.services-cards{
    background-color: #FFFFFF;
    height: 380px;
    width: 340px;
    margin-top: 70px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon-background {
    background-color: #ECF7FF;
    border-radius: 50%;
    padding: 20px;
}


.services-cards img {
    width: 40px;
    height: 40px;
}

.services-paragraph {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6B708D;
    margin: 20px 0 36px 0;
}