@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F4FC;
    font-family: 'Roboto';
    color: #6B708D;
}

h1 {
    font-size: 60px;
    color: #292E47;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    color: #292E47;
    font-weight: 700;
    line-height: 47px;
}

h4 {
    font-size: 24px;
    color: #1A1A1A;
    font-weight: bold;
}

.section {
    padding: 0 20px;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
}

.nav-bar {
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a {
    height: 18px;
}

.nav-bar ul {
    display: flex;
    font-size: 17px;
    list-style-type: none;

}

.nav-bar ul li {
    margin: 0 30px;
}

.nav-bar ul a {
    text-decoration: none;
    color: #6B708D; 
}

/* falta hoover en azul 072AC8 */

.contact-us-button {
    width: 150px;
    height: 52px;
    background-color: #072AC8;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 130%;
    font-weight: 500;
    border: none;
}

.work-button {
    width: 100px;
    height: 22px;
    color: #6B708D;
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.hero {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.hero-explanation {
    width: 50%;
    padding: 110px 20px;
}

.hero-explanation p {
    margin: 30px 0 40px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.hero-card {
    width: 50%;
    background-image: url("./img/hero-section/hero-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-card img {
    width: 190px;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.second-card {
    align-self: flex-end;
}

.companies {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    margin-bottom: 200px;
}

.companies img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.projects {
    display: flex;
    justify-content: space-between;
}

.projects-cards {
    background-color: #FFFFFF;
    height: 444px;
    width: 340px;
    margin-top: 23px;
}

.projects-cards img {
    width: 340px;
    height: 240px;
}

.cards-text {
    padding-left: 30px;
}

.cards-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #292E47;
    margin-top: 30px;
}

.projects-paragraph {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6B708D;
    margin: 10px 0 54px 0;
}

.cards-link {
    text-decoration: none;
    color: #072AC8;
}

.clients {
    background-image: url(./img/testimonial-section/orbit.png);
    background-color: #292E47;
    margin-top: 200px;
    margin-bottom: 200px;
    max-width: 1320px;
    height: 622px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: space-between;
}

.clients-review {
    margin: 120px 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clients-review h3 {
    color: #F4F6FC;
}

.review-paragraph {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: #FFC600;
    margin-top: 105px;
    margin-bottom: 105px;
    width: 575px;
}

.client-testimonial {
    display: flex;
    justify-content: center;
    
}

.client-testimonial div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
    
}

.client-testimonial img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
}

.client-name {
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    color: #A2D6F9;
    margin-bottom: 5px;

}
.client-platform {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #F4F6FC;
}

.clients-image {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.client-icon {
    width: 150px;
    height: 150px;
}

.client-one {
    margin: 51px 0px 0px 76px;
}

.client-two {
    margin: 51px 91px 0px 0px;
}

.client-three {
    margin: 0px 0px 73px 63px;
}

.client-four {
    margin: 0px 72px 73px 0px;
}


.services {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 64px;
}

.services-cards{
    background-color: #FFFFFF;
    height: 380px;
    width: 340px;
    margin-top: 70px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon-background {
    background-color: #ECF7FF;
    border-radius: 50%;
    padding: 20px;
}


.services-cards img {
    width: 40px;
    height: 40px;
}

.services-paragraph {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6B708D;
    margin: 20px 0 36px 0;
}

.questions-section {
    margin-top: 136px;
    margin-bottom: 170px;
    background-color: #FFC600;
    max-width: 1320px;
}

.questions {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.questions p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #292E47;
    margin-top: 20px;
    margin-bottom: 50px;
}

.subscribe input {
    width: 393px;
    height: 80px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #292E47;
    border: none;
    background-image: url(./img/newsletter/icon/mail.svg);
    background-repeat: no-repeat;
    background-color: #F4F6FC;
    background-position: 30px;
    padding-left: 70px;
}

.subscribe-button {
    background-color: #072AC8;
    width: 198px;
    height: 80px;
    margin-left: 20px;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 130%;
    font-weight: 500;
    border: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 30px 170px 100px 170px; 
}

.circle-direction {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.circle-direction img {
    width: 98.38px;
    height: 30px;
    margin-bottom: 30px;
}

.circle-direction p {
    width: 250px;
}

.footer ul {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 80px;
    grid-row-gap: 50px;

}

.footer ul li {
    list-style: none;
}

.footer ul a {
    text-decoration: none;
    color: #6B708D;
}


@media (max-width: 1025px) {
    h1 {
        font-size: 46px;
    }

    h3 {
        font-size: 35px;
    }

    .hero {
        margin-top: 60px;
    }

    .hero-explanation p {
        font-size: 18px;
    }
    
    .hero-card img {
        width: 160px;
    }

    .companies {
        justify-content: space-around;
    }

    .projects {
        justify-content: space-around;
    }
     
    .projects-cards {
        width: 260px;
        margin-top: 20px;
    }
    
    .projects-cards img {
        width: 260px;
        height: 210px;
    }
 
    .clients {
        max-width: 1020px;
        margin-top: 160px;
        margin-bottom: 160px;
    }

    .clients-review {
        margin: 20px 15px;
    }

    .clients-review h3 {
        font-size: 34px;
        text-align: center;
    }
    
    .review-paragraph {
        font-size: 18px;
        width: 400px;
        margin-top: 85px;
        margin-bottom: 85px;
    }
    
    .client-icon {
        width: 100px;
        height: 100px;
    }
    
    .client-one {
        margin: 21px 0px 0px 46px;
    }
    
    .client-two {
        margin: 21px 61px 0px 0px;
    }
    
    .client-three {
        margin: 0px 0px 43px 33px;
    }
    
    .client-four {
        margin: 0px 42px 43px 0px;
    }

    .services {
        justify-content: space-around; 
    }
    
    .services-cards{
        width: 300px;
        padding: 25px;
    }
    
    .icon-background {
        padding: 15px;
    }
    
    .services-cards img {
        width: 30px;
        height: 30px;
    }
    
    .cards-title {
        font-size: 22px;
    }

    .projects-paragraph {
        font-size: 16px;
    }

    .services-paragraph {
        font-size: 16px;
    }

    .footer {
        margin: 30px 100px 100px 100px; 
    }

    .circle-direction img {
        width: 80px;
        height: 25px;
        margin-bottom: 20px;
    }

    .circle-direction p {
        width: 250px;
    }

    .footer ul {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

        
    .questions-section {
        margin-top: 106px;
        margin-bottom: 140px;
        max-width: 1025px;
    }

    .questions p {
        font-size: 18px;
    }

    .subscribe input {
        width: 353px;
        height: 60px;
        font-size: 16px;
    }

    .subscribe-button {
        width: 158px;
        height: 60px;
    }

}

@media (max-width: 769px) {
    
    

}


@media (max-width: 480px) {
    
}