@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F4FC;
    font-family: 'Roboto';
    color: #6B708D;
}

h1 {
    font-size: 60px;
    color: #292E47;
    font-weight: bold;
    margin-bottom: 80px;
}

.section {
    padding: 0 20px;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
}

.nav-bar {
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a {
    height: 18px;
}

.nav-bar ul {
    display: flex;
    font-size: 17px;
    list-style-type: none;
}

.nav-bar ul li {
    margin: 0 30px;
}

.nav-bar ul a {
    text-decoration: none;
    color: #6B708D; 
}

.button-open,
.button-close {
    display: none;
}

/* falta hoover en azul 072AC8 */

.contact-us-button {
    width: 150px;
    height: 52px;
    background-color: #072AC8;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 130%;
    font-weight: 500;
    border: none;
}

.contact-us-button a {
    text-decoration: none;
    color: #FFFFFF;
}

.contact-us-section {
    margin: 140px 170px;
    display: flex;
    flex-direction: column;
}

.contact-us-form label {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #6B708D;
}

.contact-us-form input::placeholder,
.contact-us-form textarea::placeholder {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6B708D;    
}

.contact-us-form input,
.contact-us-form textarea {
    margin-bottom: 40px;
    padding-left: 20px;
}

.contact-us-form textarea {
    padding-top: 22px;
    font-family: 'Roboto';
    font-style: normal;
}

#name {
    width: 100%;
    height: 70px;
    background-color: rgba(107, 112, 141, 0.1);
    border: none;
}

#email,
#phone {
    height: 70px;
    background-color: rgba(107, 112, 141, 0.1);
    border: none;
}

.email-phone-section {
    display: flex;
    justify-content: space-between;
}

.email-phone-section div {
    display: flex;
    flex-direction: column;
    width: 48%;
}

#message {
    height: 200px;
    background-color: rgba(107, 112, 141, 0.1);
    border: none;
    width: 100%;
}

.submit-button {
    width: 100%;
    height: 80px;
    left: 0px;
    top: 580px;
    background: #072AC8;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 30px 170px 100px 170px; 
}

.circle-direction {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.circle-direction img {
    width: 98.38px;
    height: 30px;
    margin-bottom: 30px;
}

.circle-direction p {
    width: 250px;
}

.footer ul {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 80px;
    grid-row-gap: 50px;

}

.footer ul li {
    list-style: none;
}

.footer ul a {
    text-decoration: none;
    color: #6B708D;
}


@media (max-width: 1025px) {
    h1 {
        font-size: 40px;
    }

    .email-phone-section {
        flex-direction: column;
    }

    .email-phone-section div {
        width: 100%;
    }

    .footer {
        margin: 30px 60px 100px 60px; 
    }

    .circle-direction img {
        width: 80px;
        height: 25px;
        margin-bottom: 10px;
    }

    .circle-direction p {
        width: 170px;
    }

    .footer ul {
        grid-column-gap: 30px;
        grid-row-gap: 50px;
    }

}

@media (max-width: 769px) {
    
    h1 {
        font-size: 40px;
        text-align: center;
    }

    .nav-bar {
        height: 80px;
    }

    .nav-bar .contact-us-button {
        display: none;
    }

    .nav-bar img {
        width: 70px;
    }

   /* estilo nav bar para max 769 */
   .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: end;
    gap: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #292E47;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
    }

    .button-open,
    .button-close {
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer
    }

    .button-open img,
    .button-close img {
    width: 30px;
    }

    .visible-nav {
        opacity: 1;
        visibility: visible;
    }

    .nav ul {
        flex-direction: column;
        align-items: end;
    }

    .nav ul li {
        margin: 0;
        padding-top: 10px;
    }

    .nav ul a {
        color: #FFFFFF;
    }

    .contact-us-section {
        margin: 40px;
        padding-bottom: 100px;
        
    }

    .footer {
        margin: 10px 20px 100px 20px; 
    }

    .circle-direction p {
        width: 120px;
        font-size: 14px;
    }

    .circle-direction img {
        width: 60px;
    }

    .footer ul {
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-column-gap: 0px;
        grid-row-gap: 10px;
    
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 40px;
        margin-bottom: 60px;
    }
    .contact-us-section {
        margin: 20px;
        padding-top: 40px;
        
    }
    .contact-us-button {
        width: 120px;
        font-size: 16px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .circle-direction {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .circle-direction p {
        width: 200px;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }

    .circle-direction img {
        width: 100px;
        margin-bottom: 20px;
    }

}